<!-- creator profile page -->

  <title>Creator</title>
  <% include ../partials/head %>

  <div class='container'>
    <h1><%= ejsUser.username %></h1>
    <div>
      <p><%= ejsUser.name %><br><i><%= ejsUser.location %></i></p>
    </div>
  </div>
  <div class='container'>
    <% ejsUser.Creations.forEach(function(creation) {  %>
    <p><a href="/creations/<%= creation.id  %>"><%= creation.title  %></a></p>
    <% });  %>
  </div>


    <% include ../partials/footer %>
