<!--views/creators/creator.ejs-->

<title>Create - Creator</title>

<% include ../partials/head %>

<!-- Wrap all page content here -->
<div id="wrap">
  
<!-- Begin page content -->
<div class="divider" id="section1"></div>
  
<!-- top container -->
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    
    <div class="page-header text-center">
      <!-- show username -->
      <h1 id="username"><%= ejsUser.username %></h1><br>
    </div>
    
    <!-- show user's name and location -->
    <p class="lead text-center"><strong><%= ejsUser.name %></strong></p>
    <p class="lead text-center"><i><%= ejsUser.location %></i></p>

  </div>
</div>
    
<div class="divider" id="section2"></div>
  
<section class="bg-1">
  <!-- middle divider bg image -->
</section>
  
<div class="divider"></div>
   
<!-- section looping through to list each of the user's creations, showing only the title -->
<div class="container" id="section3">
    <div class="col-sm-8 col-sm">
      <div class="container">
        <h1 class="text-center">creations</h1>
        <br><br>
        <% ejsUser.Creations.forEach(function(creation) {  %>
            <p class="list"><a href="/creations/<%= creation.id  %>"><%= creation.title  %></a></p>
            <% });  %>
        <br><br>
      </div>
    </div><!--/col-->
</div><!--/container-->

<div class="divider"></div>
  
<!-- bottom section with image and some text -->
<section class="bg-3" id="section4">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">join the create community</h2></div>
</section>
  
</div><!--/wrap-->

<% include ../partials/footer %>