<!-- views/creations/creation.ejs file -->
  
<title>Create - Creation</title>

<% include ../partials/head %>

<!-- Wrap all page content here -->
<div id="wrap">
  
<!-- Begin page content -->

<!-- top container -->
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    
    <div class="page-header text-center">
      <!-- show Title of Creation -->
      <h1><%= creationToDisplay.title %></h1>
      <br>
    </div>

    <!-- show prompt -->
    <p class="lead text-center">Prompt: <%= creationToDisplay.prompt %></p>
    <!-- show username -->
    <p class="lead text-center"><strong>By <a href="/creators/<%= creationToDisplay.User.id %>"><%= creationToDisplay.User.username %> </a></strong><p>
    <!-- show date/time created -->
    <p class="lead text-center"><%= creationToDisplay.createdAt %></p>

    <div id="creation">
      <p class="list">
        <!-- displays creation content; converts linebreaks to render as breaks -->
        <% creationToDisplay.content.split(/\n/).forEach(function(line) { %>
        <br>
        <p><%= line %></p>
        <% }) %>
      </p>
    </div>

  </div>
</div>

 
<div class="divider" id="section2"></div>

<!-- bottom section with image and some text -->
<section class="bg-3" id="section4">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">join the create community</h2></div>
</section>
  
</div><!--/wrap-->

<% include ../partials/footer %>