<!DOCTYPE html>
<html>
<head>
  <meta>
  <title>Creation</title>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="container">
    <h1><%= creationToDisplay.title %></h1>
    <div>
      <p><strong><a href="/creators/<%= creationToDisplay.User.id %>"><%= creationToDisplay.User.username %> </a></strong><p>
      <p><%= creationToDisplay.createdAt %></p>
      <p><%= creationToDisplay.content  %></p>
    </div>
    <br><br><br>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>
</html>