<!-- views/users/profile.ejs -->

<title>Create - Profile</title>

<% include ../partials/head %>

<!-- Wrap all page content here -->
<div id="wrap">
  
<!-- Begin page content -->
<div class="divider" id="section1"></div>
  
<!-- top container -->
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    
    <div class="page-header text-center">
      <!-- greet user -->
      <h1 id="username">hi <%= ejsUser.username %>!</h1>
    </div>
    
    <p class="lead text-center"><strong><a href="/creators/<%= ejsUser.id %>"> View Profile </a></strong><p>
    <p class="lead text-center"><strong><a href="/creations/new">Contribute</a></strong><p>

  </div>
</div>
    
<div class="divider" id="section2"></div>
  
<section class="bg-1">
  <!-- middle divider bg image -->
</section>
  
<div class="divider"></div>
   
<!-- section looping through to list each of the user's creations/contributions by title -->
<div class="container" id="section3">
    <div class="col-sm-8 col-sm">
      <div class="container">
        <h1 class="text-center">creations</h1>
        <br><br>
        <% creationsList.forEach(function(creation){ %>
        <p class="list"><a href="/creations/<%= creation.id  %>"><%= creation.title  %></a></p>
        
        <!-- delete button -->
        <form onclick="return confirm('Are you sure you want to delete?');" method="POST" action="/creations/<%= creation.id %>?_method=DELETE">
          <button type="submit" id="delete" class="btn">Delete</button>
        </form><br>
      <% }) %>
        <br><br>
      </div>
    </div><!--/col-->
</div><!--/container-->

<div class="divider"></div>
  
<!-- bottom section with image and some text -->
<section class="bg-3" id="section4">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">join the create community</h2></div>
</section>
  
</div><!--/wrap-->

<% include ../partials/footer %>
